.venv/
**/__pycache__/
adaptor.egg-info/
examples/adaptation_output_dir
tests/adaptation_output_dir
tests/translator_model
entity_detector_model/
bin/
lib/
share/
pyvenv.cfg
m39v1.tar
m39v1/
.idea
dist
